---
import Section from "../components/Section.astro";
import TimelineItem from "../components/TimelineItem.astro";
import { profile } from "../data/profile";
---

<Section id="ausbildung" title="history | head">
  <div class="relative space-y-10 before:absolute before:bottom-0 before:left-[0.5625rem] before:top-0 before:border-l-2 before:border-border md:before:left-1/2 md:before:-translate-x-1/2">
    {
      profile.education.map((item) => (
        <TimelineItem item={item} />
      ))
    }
  </div>
</Section>
