---
import Section from "../components/Section.astro";
import SkillCard from "../components/SkillCard.astro";
import { profile } from "../data/profile";
---

<Section id="stack" title="cat stack.txt">
  <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
    {
      profile.stack.map((category) => (
        <SkillCard category={category.category} items={category.items} />
      ))
    }
  </div>
</Section>
